node_modules

# IDE
.idea/*

# build
**/*.tsbuildinfo
yarn-error.log

# macOS
.DS_Store
tags
.vscode

packages/app-old/mf-app-kv-storage-db
packages/cms/.envrc
packages/cms/backups
.vercel
**/.env

db_dumps
/packages/cms/extensions/migrations

.turbo
build/**

.env

# Yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Expo
.expo/*
web-build/

**/*/.expo

**/*/.next

**/*/ios
**/*/android

