node_modules

# IDE
.idea/*

# build
**/*.tsbuildinfo
yarn-error.log

# macOS
.DS_Store
tags
.vscode

packages/app-old/mf-app-kv-storage-db
packages/cms/.envrc
packages/cms/backups
.vercel
**/.env

db_dumps
/packages/cms/extensions/migrations

.turbo
build/**

.env
